.chinitsu {
  .section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .waiting-pick-hint {
      padding: 10px 0;
      color: var(--color-primary-light, #f2ca50);
      font-size: 1.2rem;
      text-align: center;
    }
    .candidate-tiles {
      display: flex;
      gap: 8px;
      margin-top: 1.4rem;
      justify-content: center;

      .tile {
        opacity: 0.8;
        &.tile-highlighted {
          opacity: 1;
        }
      }
    }
    .actions {
      justify-content: center;
      margin-top: 1.4rem;
    }
  }

  .result {
      .result-summary {
        margin: 20px 0;
        font-size: 1.3rem;
      }

      .waiting-tiles {
        margin-bottom: 30px;
        .tiles-display {
          display: flex;
          gap: 10px;
          justify-content: center;
        }
      }
    }

  .result-item {
    display: flex;
    padding: 5px 0;
    gap: 8px;
    align-items: center;
  }
}
