.app-home-header {
  text-align: center;
  margin-top: 2rem;
  .title {
    width: 40%;
  }
}

.app-home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 45%;
  a {
    width: 22%;
    text-align: center;
    img {
      width: 80%;
    }
  }
}
