.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 100px;
  margin-top: 20px;
  padding: 0.3rem 1rem;
  position: sticky;
  top: 0;
  z-index: 100;
  color: #fff;
  .app-title {
    display: flex;
    align-items: center;
    gap: 2px;
    a {
      display: flex;
      align-items: center;
      img {
        width: 2.6rem;
      }
    }

    span {
      padding: 10px 20px;
      color: #ffcc67;
      font-size: 1.6rem;
      text-shadow: 1px 1px 0 #000000;
    }
  }

  .actions {
    display: flex;
    gap: 30px;
    img {
      width: 2.4rem;
      cursor: pointer;
    }
  }
}
